.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 25px;
  padding: 1rem;
  background: var(--bubbleGradient);
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  overflow: auto;
  gap: 10px;
  height: 100%;
}
