.page {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.bubble {
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  padding: 1rem;
  background: var(--bubbleGradient);
}

.wankulImage {
  display: none;
}

@media screen and (max-width: 900px) {
  .wankulImage {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
  }
}
