.modal {
  position: absolute;
  top: var(--headerHeight);
  left: 0;
  height: var(--pageHeight);
  width: 100vw;
  margin: 0 auto;
  padding: 0 1rem;
  background: var(--modalBackground);
  backdrop-filter: blur(5px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 99;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modalClose {
  position: sticky;
  top: 1rem;
  left: 90%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--textColor);
  color: var(--textColor);
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    border: 2px solid var(--textColor);
    color: var(--textColor);
    background-color: red;
  }
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  padding: 0 2rem 1rem;

  img {
    cursor: pointer;
  }
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.6)
  );
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--textColor);
  text-align: center;
  position: relative;
  top: -3rem;
  z-index: 9;
  color: var(--black);
  font-weight: bold;
}

.possession {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--bodyGradient2);
  border: 1px solid var(--bodyGradient2);
  border-radius: 50%;
  right: -82%;
  top: -4.5rem;
  height: 26px;
  width: 26px;
}

.noCard {
  margin-top: 2rem;
}

@media screen and (min-width: 900px) {
  .modal {
    height: var(--landingPageHeight);
  }
}
