.mainContainer {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;

  button {
    padding: 0.5rem;
  }
}

.overallCount {
  text-align: center;
}

.scrollTopBtn {
  position: absolute;
  bottom: 5rem;
  right: 0.5rem;
  padding: 0;
  font-size: 1rem;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noCard {
  text-align: center;
  margin-top: 1rem;
}

.season {
  text-align: center;
}

.counter {
  text-align: center;
}

.cardItem {
  cursor: pointer;
  img {
    border-radius: 7px;
  }
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.6)
  );
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--textColor);
  text-align: center;
  position: relative;
  top: -2rem;
  z-index: 2;
  color: var(--black);
  font-weight: bold;
}

.forms {
  margin: 1rem auto 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  max-width: 900px;
}

.searchForm {
  label {
    display: flex;
    align-items: center;
  }
}

.sortForm {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  select {
    background-color: rgba(248, 240, 6, 0.13);
    background: var(--bubbleGradient);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #9f9f9f;
    color: var(--textColor);
    padding: 0 8px;
    height: 32px;
    border-radius: 25px;

    &:focus {
      outline: none;
      border: 1px solid #ffffff;
    }
  }
  select option {
    background-color: var(--bodyGradient1);
    color: var(--textColor);
    border: 1px solid #9f9f9f;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 1rem 4rem;
    max-width: 900px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .scrollTopBtn {
    bottom: 1rem;
    right: 17rem;
  }
}

@media screen and (min-width: 1920px) {
  .scrollTopBtn {
    right: 37rem;
  }
}
