.globalHeader {
  position: fixed;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: var(--headerHeight);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  background-color: #0c366e;
  box-shadow: 0px 5px 5.8px -1px rgba(0, 0, 0, 0.39);
  z-index: 4;
}

.headerNav {
  display: none;
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bananasLink,
.profilLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0.2),
    rgba(217, 217, 217, 0.1)
  );
  flex: none;
}

.bananasLink {
  p {
    line-height: 0.8;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 900px) {
  .globalHeader {
    justify-content: space-between;
  }

  .linksContainer {
    display: flex;
    gap: 1rem;
  }

  .headerLogo {
    order: 1;
  }

  .headerNav {
    display: flex;
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a {
      font-size: 1.2rem;
      transition: 0.3s ease;

      &:hover {
        color: var(--activeLinkColor);
      }
    }
  }

  .profilLink {
    order: 3;
    margin-left: auto;
    margin-right: -3rem;
  }

  .bananasLink {
    order: 4;
  }

  .active {
    color: var(--activeLinkColor);
  }

  .link {
    color: inherit;
  }
}
