.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  background: var(--bubbleGradient);
  border: var(--bubbleBorder);
  border-radius: 25px;
  width: 170px;
  box-shadow: var(--bubbleShadow);
}

.container:active {
  transform: scale(0.99);
}

.collection {
  margin-top: -15px;
}

.collectionList {
  display: flex;
  list-style: none;
  padding: 0;
}

.collectionList li:not(:first-child) {
  margin-left: -65px;
}

.collectionList li {
  position: relative;
  transition: transform 0.2s ease, z-index 0.2s ease;
}

.collectionList li:nth-child(1) {
  z-index: 5;
}
.collectionList li:nth-child(2) {
  z-index: 4;
}
.collectionList li:nth-child(3) {
  z-index: 3;
}
.collectionList li:nth-child(4) {
  z-index: 2;
}
.collectionList li:nth-child(5) {
  z-index: 1;
}

.image {
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.144);
}

.title {
  position: relative;
  left: 50%;
  bottom: -172px;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 10px;
  text-align: center;
  background: rgb(89, 114, 215);
  border-radius: 25px;
  width: 100px;
  z-index: 10;
  box-shadow: var(--bubbleShadow);
  border: var(--bubbleBorder);
  backdrop-filter: blur(5px);
}

.disabled {
  filter: grayscale(100%);
}

@media (max-width: 379px) {
  .container {
    width: 140px;
    padding-bottom: 15px;
    border-radius: 20px;
  }

  .image {
    height: 90px;
    width: auto;
    border-radius: 4px;
  }

  .title {
    bottom: -137px;
  }

  .collectionList li:not(:first-child) {
    margin-left: -50px;
  }
}

@media (min-height: 800px) and (min-width: 800px) {
  .container {
    width: 240px;
    padding-bottom: 30px;
    border-radius: 30px;
  }

  .image {
    height: 150px;
    width: auto;
    border-radius: 8px;
  }

  .title {
    bottom: -212px;
  }

  .collectionList li:not(:first-child) {
    margin-left: -75px;
  }
}
