.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  background: var(--bubbleGradient);
  border: var(--bubbleBorder);
  border-radius: 25px;
  width: 340px;
  padding-top: -40px;
  box-shadow: var(--bubbleShadow);
}

.container:active {
  transform: scale(0.99);
}

.boosters {
  margin-top: -15px;
}

.boosterList {
  display: flex;
  list-style: none;
  padding: 0;
}

.boosterList li:not(:first-child) {
  margin-left: -60px;
}

.boosterList li {
  position: relative;
  transition: transform 0.2s ease, z-index 0.2s ease;
}

.boosterList li:nth-child(1) {
  z-index: 5;
}
.boosterList li:nth-child(2) {
  z-index: 4;
}
.boosterList li:nth-child(3) {
  z-index: 3;
}
.boosterList li:nth-child(4) {
  z-index: 2;
}
.boosterList li:nth-child(5) {
  z-index: 1;
}

.image {
  height: 200px;
  border-radius: 10px;
}

.title {
  position: relative;
  left: 50%;
  bottom: -252px;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 10px;
  text-align: center;
  background: rgb(89, 114, 215);
  border-radius: 25px;
  width: 100px;
  z-index: 10;
  box-shadow: var(--bubbleShadow);
  border: var(--bubbleBorder);
}

.disabled {
  filter: grayscale(100%);
}

@media (max-width: 379px) {
  .container {
    width: 280px;
    padding-bottom: 15px;
    border-radius: 20px;
  }

  .image {
    height: 150px;
    width: auto;
    border-radius: 7px;
  }

  .title {
    bottom: -197px;
  }

  .boosterList li:not(:first-child) {
    margin-left: -45px;
  }
}

@media (min-height: 800px) and (min-width: 800px) {
  .container {
    width: 500px;
    padding-bottom: 30px;
    border-radius: 30px;
  }

  .image {
    height: 250px;
    width: auto;
    border-radius: 15px;
  }

  .title {
    width: 150px;
    bottom: -312px;
  }
}
