.none {
  max-height: 0;
  min-height: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  transform: translateY(-10px);

  transition: max-height 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    min-height 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    height 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 0.8s cubic-bezier(0.16, 1, 0.3, 1),
    transform 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    margin 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    padding 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    border 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    box-shadow 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bubbleGradient);
  border: var(--bubbleBorder);
  border-radius: 25px;
  width: 340px;
  box-shadow: var(--bubbleShadow);
  overflow: hidden;
  max-height: 0;
  min-height: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  transform: translateY(-10px);

  transition: max-height 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    min-height 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    height 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 0.8s cubic-bezier(0.16, 1, 0.3, 1) 0.2s,
    transform 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    margin 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    padding 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    border 1.2s cubic-bezier(0.16, 1, 0.3, 1),
    box-shadow 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.container:not(.none) {
  max-height: 175px;
  min-height: auto;
  height: auto;
  opacity: 1;
  margin-bottom: 20px;
  padding: 5px;
  border: var(--bubbleBorder);
  box-shadow: var(--bubbleShadow);
  transform: translateY(0);
}

.container:not(.none) .notifications {
  animation: fadeInContent 0.8s cubic-bezier(0.16, 1, 0.3, 1) 0.3s;
  animation-fill-mode: both;
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-10px);
}

.notificationLink {
  text-decoration: none;
  color: var(--textColor);
}

.notificationBubble {
  text-align: center;
}

.notificationBubbleFriends,
.notificationBubbleQuests {
  font-weight: bold;
}

.notificationSeparator {
  color: rgba(255, 255, 255, 0.411);
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 379px) {
  .container {
    width: 280px;
    border-radius: 20px;
  }

  .container:not(.none) {
    max-height: 150px;
  }
}

@media (min-height: 800px) and (min-width: 800px) {
  .container {
    width: 500px;
    border-radius: 30px;
  }

  .container:not(.none) {
    max-height: 200px;
  }
}
