.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatarContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubblesGroup {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: white;
}

.avatarBubble {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: var(--bubbleBorder);
  background: var(--bubbleGradient);
  box-shadow: var(--bubbleShadow);
}

.bubbleText {
  color: white;
  font-size: 1rem;
  padding: 0.6rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.nameWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0 0;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white);
  text-align: center;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--bubbleBorder);
  background: var(--bubbleGradient);
}

.inputName {
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
  height: 46px;
  font-size: 1.5rem;
}

.input {
  font-size: 1rem;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  max-width: 250px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.total {
  font-size: 1.2rem;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friendCode {
  border: var(--bubbleBorder);
  width: 220px;
  padding: 0 0 0 4px;
  border-radius: 25px;
  background: var(--bubbleGradient);
  box-shadow: var(--bubbleShadow);
  display: flex;
  justify-content: space-between;

  .notif {
    padding-left: 3rem;
  }

  .code {
    padding-left: 1rem;
  }

  button {
    padding: 6px;
  }
}
