.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.699);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  border-radius: 20px;
  padding: 1rem;
  background: linear-gradient(to bottom, #165fc0, #0b3264);
  border: 1px solid rgba(255, 255, 255, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.closeButton {
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 30px;
  padding: 1rem;
  background: var(--bubbleGradient);
}

.closeButton:hover {
  background-color: #0056b3;
}
