.openBoosterButton {
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 25px;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  cursor: pointer;
}

.openBoosterButton.disabled {
  background: linear-gradient(
    to bottom,
    rgba(108, 108, 108, 0.634),
    rgba(93, 93, 93, 0.134)
  );
  cursor: not-allowed;
}
