.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.friendImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background: var(--bubbleGradient);
}

.requestContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.requestList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.requestItem {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background: var(--bubbleGradient);
  border-radius: 20px;
  border: var(--bubbleBorder);
  width: 100%;
  min-width: 0;
  max-width: 400px;
  box-sizing: border-box;
}

.requestActions {
  display: flex;
  gap: 10px;
  margin-left: auto;

  button {
    padding: 5px 10px;
    border-radius: 15px;
    background: var(--bubbleGradient);
    border: var(--bubbleBorder);
    cursor: pointer;
  }
}
