.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  background: var(--bubbleGradient);
  border-radius: var(--buttonRadius);
  border: var(--buttonBorder);
  padding: 2rem 1rem;
  gap: 2rem;
  margin: 1rem auto 0;
  width: clamp(300px, 100%, 500px);
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  img {
    border-radius: 50%;
    background: var(--bubbleGradient);
  }
}

.cardsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  img {
    border-radius: 5px;
  }
}

.buttonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.fade {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.4s forwards ease-in-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
