:root {
  --textColor: #ffffff;
  --black: #121212;
  --bodyGradient1: #5e74ff;
  --bodyGradient2: #0b356c;
  --headerHeight: 70px;
  --headerBackgroundColor: #0c366e;
  --headerGradientTop: rgba(255, 255, 255, 0.1);
  --headerGradientBottom: rgba(255, 255, 255, 0);
  --headerBoxShadow: 0px 5px 5.8px -1px rgba(0, 0, 0, 0.39);
  --headerLinkGradientTop: rgba(217, 217, 217, 0.2);
  --headerLinkGradientBottom: rgba(217, 217, 217, 0.1);
  --tapBarHeight: 70px;
  --tapBarGradientTop: rgba(255, 255, 255, 0.2);
  --tapBarGradientBottom: rgba(255, 255, 255, 0.05);
  --activeIconGradientTop: rgba(255, 255, 255, 0.2);
  --activeIconGradientBottom: rgba(255, 255, 255, 0);
  --activeIconBoxShadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --activeLinkColor: #f8f006;
  --modalBackground: rgba(11, 53, 108, 0.9);
  --bubbleGradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  --bubbleShadow: 0 15px 30px -12px rgba(0, 0, 0, 0.5);
  --bubbleBorder: 1px solid rgba(255, 255, 255, 0.13);
  --bubbleTitleBackground: #6c81e0;
  --pageHeight: calc(100dvh - (var(--headerHeight) + var(--tapBarHeight)));
  --landingPageHeight: calc(100dvh - var(--headerHeight));
  --avatarBorder: 3px solid rgba(255, 255, 255, 0.3);
  --avatarShadow: 0 0 10px rgba(255, 255, 255, 0.1);
  --buttonBorder: 1px solid rgba(255, 255, 255, 0.13);
  --buttonRadius: 25px;
  --buttonPadding: 0.75rem 1.5rem;
  --buttonFontSize: 1rem;
  --buttonFontWeight: bold;
  --buttonBorderRadius: 10px;
  --buttonTransition: background-color 0.2s ease;
  --bubbleWidth: 190px;
  --bubbleHeight: 48.28px;
  --avatarSize: 276px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  color: var(--foreground);
  height: 100dvh;
  background: linear-gradient(
    to bottom,
    var(--bodyGradient1),
    var(--bodyGradient2)
  );
  height: 100dvh;
  font-family: var(--font-jaldi), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  height: var(--pageHeight);
  overflow-y: scroll;
  margin-top: var(--headerHeight);
  padding: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  border-radius: 25px;
  background: var(--bubbleGradient);
  height: 32px;
  width: 150px;
  padding: 0 8px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #9f9f9f;
  color: var(--textColor);
  border-radius: 25px;

  &::placeholder {
    color: #9f9f9f;
  }

  &:focus {
    border: 1px solid #ffffff;
    outline: none;
  }
}

button {
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 25px;
  padding: 1rem;
  background: var(--bubbleGradient);
  cursor: pointer;
  color: white;
  box-shadow: var(--bubbleShadow);
}

button:active {
  background: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.04)
  );
}

button:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 900px) {
  main {
    height: var(--landingPageHeight);
  }
}
