:root {
  --textColor: #ffffff;
  --black: #121212;
  --bodyGradient1: #5e74ff;
  --bodyGradient2: #0b356c;
  --headerHeight: 70px;
  --headerBackgroundColor: #0c366e;
  --headerGradientTop: rgba(255, 255, 255, 0.1);
  --headerGradientBottom: rgba(255, 255, 255, 0);
  --headerBoxShadow: 0px 5px 5.8px -1px rgba(0, 0, 0, 0.39);
  --headerLinkGradientTop: rgba(217, 217, 217, 0.2);
  --headerLinkGradientBottom: rgba(217, 217, 217, 0.1);
  --tapBarHeight: 70px;
  --tapBarGradientTop: rgba(255, 255, 255, 0.1);
  --tapBarGradientBottom: rgba(255, 255, 255, 0);
  --activeIconGradientTop: rgba(255, 255, 255, 0.2);
  --activeIconGradientBottom: rgba(255, 255, 255, 0);
  --activeIconBoxShadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --activeLinkColor: #f8f006;
  --bubbleGradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  --pageHeight: calc(100dvh - (var(--headerHeight) + var(--tapBarHeight)));
  --landingPageHeight: calc(100dvh - var(--headerHeight));
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  height: 100dvh;
  background: linear-gradient(
    to bottom,
    var(--bodyGradient1),
    var(--bodyGradient2)
  );
  height: 100dvh;
  font-family: var(--font-jaldi), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  height: var(--pageHeight);
  overflow-y: scroll;
  margin-top: var(--headerHeight);
  padding: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 25px;
  padding: 1rem;
  background: var(--bubbleGradient);
  cursor: pointer;
  color: white;
}

@media screen and (min-width: 900px) {
  main {
    height: var(--landingPageHeight);
  }
}
