.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px 0.5rem;
  max-width: 540px;
  margin: 0 auto;
}

@media (max-width: 379px) {
  .homepage {
    max-width: 350px;
  }
}

@media (min-height: 800px) and (min-width: 800px) {
  .homepage {
    max-width: 800px;
  }
}
